<main>
  <input
    type="checkbox"
    [(ngModel)]="notesOpen"
    class="openSidebarMenu"
    id="openSidebarMenu"
    checked
  />
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>

  <header>
    <div class="head-wrapper">
      <div class="heading">All Notes</div>
      <div class="icons">
        <fa-icon [icon]="faTrash" (click)="editComponent('delete')" title="Delete Note"></fa-icon>

        <fa-icon [icon]="faClipboard" (click)="editComponent('add')" title="Add Note"></fa-icon>
      </div>
    </div>
  </header>
  <div class="wrapper">
    <list></list>
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</main>
